body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  margin: 0;
}
main {
    text-align: center;
}

#product-list {
  padding-top: 134px;
}

.subheading {
  color: #880000;
  margin-top: -10px;
  margin-bottom: 30px;
  font-style: italic;
}

.cart-icon {
  font-size: 50px;
  float: right;
  margin-right: 30px;
  margin-top: -60px;
}

.product-grid {
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.product-card {
  border: 2px solid #0a3;
  border-radius: 5px;
  padding: 10px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.name {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 0;
}

.price {
  color: #660000;
  font-size: 14px;
}


