header {
    text-align: center;
}

.under-line{
  text-decoration: underline;
}

.header-top {
  width:100vw;
    background: linear-gradient(to right, #24f324, #c2fbca, #24f324);
    padding: 10px 0;
    position:fixed;
    z-index:100;
}

.header-top h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}
.header-logo{
    float:left;
}

.header-top nav ul {
  list-style: none;
  display: flex;
  float:right;
  justify-content: center;
  flex-wrap: wrap;
}

.header-top nav ul li {
  margin: 5px 10px;
}

.header-top nav ul li a {
  text-decoration: none;
  color: #333;
  background: #d6ef8c;
  padding: 5px 10px;
  border-radius: 5px;
}

/*フッターのソースコード*/
.footer-bar {
  background: linear-gradient(to right, #CCFF33, #7A991F, #CCFF33);
  /*padding: 10px;*/
  /*color: linear-gradient(to right, #33CCFF, #1F7A99);*/
  color: #33CCFF;
  line-height: 64px;
  font-size: 32px;
}